@use "../../responsive.scss" as res;

.dashboard {
  font-family: "Poppins", sans-serif;
  display: flex;
}

.sideContainerdash {
  flex: 1;
  min-width: 245px;
  transition: transform 0.3s ease-in-out;

  @include res.md {
    min-width: 80px;
  }

  @include res.sm {
    display: none !important; // Hide sidebar on small screens
  }
}

.dashContainer {
  flex: 8;
  display: flex;
  flex-direction: column;

  @include res.md {
    display: flex;
    width: 70%;
    margin-top: -9px;
  }

  @include res.sm {
    width: 100%; // Expand content when sidebar is hidden
    margin-left: 0;
  }
}

// Top header
.mainDashboard {
  margin: 10px;  
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  @include res.md {
    width: 100%;
  }
}
