@use "../../../responsive.scss" as res;

.searchContainer {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  max-width: 1081px;
  gap: 20px;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding: 10px;


@include res.sm{
    max-width: 50%;
    justify-content: center;
    gap:20px;
    margin-right: 10px;
  }
}

.searchBarContainer {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    justify-content: start;
    padding: 0 10px;
  }
}

.hamburger {
  font-size: 32px; // Increased size
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;

  @media (min-width: 769px) {
    display: none; // Hide hamburger on desktop if needed
  }
}

.searchInputWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
  z-index: 1000;
  width: 160px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.searchInputWrapper {
  width: 600px;
  max-width: 100%;
  border-radius: 6px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: rgb(6, 6, 6);
  padding: 11px 17px;
  transition: border 0.3s ease;


  @include res.md {
    width: 70%;    
    padding: 11px 17px;
  }

  @include res.sm {
    width: 260px;
    padding: 10px;
    gap: 10px;
  }
}

.searchInputWrapper:focus-within {
  border: 2px solid gray;
}

/* Adjust input width for better scaling */
// @media (max-width: 768px) {
//   .searchInputWrapper {
//     width: 90%;
//     padding: 10px;
//   }
// }

// @media (max-width: 480px) {
//   .searchInputWrapper {
//     width: 100%;
//     padding: 8px;
//     gap: 10px;
//   }
// }

.searchIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 22px;
}

.searchInput {
  flex-grow: 1;
  margin: auto 0;
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.searchInput:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
