@import "../../responsive.scss"; 

.dashboard-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto; // Three rows
  gap: 20px;
  padding: 10px;
  font-family: "Poppins", sans-serif;

@include md {
  display: flex;
 flex-direction: column;
}

}

  .total-assets {
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 20px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    

    .asset-card {
     display: flex;
     flex-direction: column;
      // padding: 20px;
      border-radius: 20px;
      text-align: center;
      border: 1px solid #DCD6FA;
      width: 270px;
      height: 200px;
      margin-bottom: 20px;
      margin-left: 40px;
     }
      .total-card {
        background: #e9d5ff;
        font-size: 18px;
        border-radius: 20px 20px 0 0;
        color: #5a4b8c;
        height: 80px;
        align-content: center;
      }

      .total-value {
        font-size: 30px;
        color: #3f3d56;
        background: white;
        align-content: center;
        overflow: hidden;
        margin-top: 25px;
      }

      p {
        font-size: 14px;
        color: #777;
      }
    

    .asset-list {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      width: 100%;
    }
    
      .asset-item {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 250px;
        height: 40px;
        border-radius: 5px;
        background: #e1e0e0;
        // border-left: 5px solid transparent;
        border-radius: 5px;
        overflow: hidden;
      }

        .fill-bar {
          position: absolute;
          left: 0;
          height: 100%;
          transition: width 0.3s ease-in-out;
        }
    
        .text-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 0 10px;
          position: relative;
          z-index: 1;
        }
    
        h3 {
          font-size: 18px;
          margin: 0;
        }
    
        p {
          font-size: 14px;
          color: #555;
        } 
  }

  .asset-analytics {
    background: white;
    padding: 20px;
    border-radius: 10px;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 600px;
@include md {
  width: 100%;
}


    h4 {
      font-size: 18px;
      margin: 0;
      font-weight: bold;
    }


    .filters {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;

      select {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }

    .donut-chart {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .donut-center {
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 16px;
      font-weight: bold;

      h2 {
        margin: 0;
        font-size: 24px;
        color: #333;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: #777;
      }
    }
  }

  /* User Interactions & Price Range Analysis (Side by Side) */
  .user-interactions,
  .price-range-analysis {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 11px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .user-interactions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .filters {
      display: flex;
      flex-wrap: wrap; // Allows filters to wrap if they overflow
      gap: 15px; // Increased gap for better separation
      margin-bottom: 20px; // More space below filters for clarity
      
      select {
        padding: 8px; // Slightly increased padding for better UI
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }

    // .chart-header {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   margin-bottom: 10px;

    //   select {
    //     padding: 5px;
    //     border: 1px solid #ccc;
    //     border-radius: 5px;
    //   }
    // }

    // h2 {
    //   font-size: 24px;
    //   font-weight: bold;
    //   color: #2563eb;
    //   margin-bottom: 10px;
    // }
  }

  //price-range-analysis
  .price-range-analysis {
    text-align: start;

    h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .filters {
      display: flex;
      justify-items: start;
      gap: 10px;
      margin-bottom: 10px;

      input {
        padding: 5px;
        width: 120px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
      }

      select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  }
  
   //download button
   .download-button{
    font-size: 16px; /* Ensure font size is consistent */
    padding: 8px 15px; /* Adds padding around the text */
    border-radius: 4px;
    margin-left: 350px;
   
 
    border: 1px solid #004f6e;
    cursor: pointer;
    background-color: transparent;
    color: #004f6e;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap; /* Ensures text stays in one line */

  @include md {
    font-size: 14px;
    padding: 8px 30px;
    margin-left: -409px;
    margin-top: -85px;
    margin-bottom: 20px;
    width: 400px;
  }
  }


  //table style
  .dash-table {
    grid-column: span 2;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

    @include md {
   max-width: 700px;
   margin-right: 5px;
 }
   
    h4 {
      font-size: 18px;
      color: black;
      font-weight: bold;
      margin-bottom: 15px;

      @include md {
        margin-bottom: 20px;
      }
    }
  
    .table-filters {
      display: flex;
      align-items:center;
      gap: -1px;
      margin-bottom: 15px;
      margin-left: 1px;
      

      @include md{
      margin-top: 70px;
      }
    }

      select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: white;
        cursor: pointer;
      }
      input[type="date"] {
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
  
  
    .table-container {
      max-width: 100%;
      overflow-x: auto;
      border-radius: 20px;
      border:1px solid #ddd;

      table {
        width: 100%;
        border-collapse: collapse;

        
        thead {
          background-color: #B0BAC3;
          color: white;
          
          th {
            padding: 10px;
            text-align: center;
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
            max-width: 250px; // Adjust as needed
          }
        }
  
        tbody {
          tr {
            &:nth-child(even) {
              background-color: #f8f9fa;
            }
  
            &:hover {
              background-color: #e3f2fd;
            }
  
            td {
              padding: 10px;
              text-align: center;
              word-wrap: break-word;
              white-space: normal;
              overflow-wrap: break-word;
              // max-width: 250px; // Adjust as needed
              border-bottom: 1px solid #ddd;

//               //For tooltip
//               position: relative;
//               cursor: pointer;
//               white-space: nowrap; 
//               overflow: hidden;
//               text-overflow: ellipsis;
//               max-width: 250px;
//             }
// // for tooltip
//             td:hover::after {
//               content: attr(title);
//               position: absolute;
//               background: rgba(0, 0, 0, 0.75);
//               color: white;
//               padding: 5px;
//               border-radius: 5px;
//               white-space: nowrap;
//               top: -30px;
//               left: 50%;
//               transform: translateX(-50%);
//               z-index: 10;
//               font-size: 12px;
            }
            
            .asset-link {
              text-decoration: none;
              // color: #0466c8; // Primary color
              font-weight: 500;
              transition: all 0.3s ease-in-out;
            
              &:hover {
                // color: #0353a4;  // Darker shade on hover
                font-weight: 600; // Make it bold
                font-size: 16px; // Slightly bigger
              }
            }
            

            .status {
              font-weight: bold;
              text-transform: capitalize;
              text-align: center;
              &.upcoming { color: #0040ff; }
              &.ongoing { color: #4caf50; }
              &.closed { color: #f44336; }
              &.unknown { color: #757575; }
            }
          }
        }
      }
    }
  }


  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
  
    button {
      padding: 8px 12px;
      border: 1px solid #ccc;
      background: #f8f9fa;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      
      &:hover {
        background: #d8f3dc;
      }
  
      &:disabled {
        background: #ddd;
        cursor: not-allowed;
      }
  
      &.active {
        background: #004f6e;
        color: white;
      }
    }
  }
  
