@use "../../responsive.scss" as res;

.home {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

  
  

  .homeContainer {
    flex: 8;
    display: flex;
    flex-direction: column;
    // padding: 20px;
    // transition: margin-left 0.3s ease-in-out;
  
    
    @include res.md  {
      display: flex;
      width: 70%;
      margin-top: -9px;
    }
  }

  .latestAssetContainer,
  .auctionersContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
    padding: 20px;
    margin-left: -11px;
    


    @include res.md  {
      flex-direction: column;
      gap: 20px;
      padding: 0px;
      margin-left: -35px;
    }
  }

  .addNewAssetContainer {
    height: 458px;
  }

  // .toggle-btn {
  //   display: none; // Hidden by default on large screens
  //   position: fixed;
  //   top: 15px;
  //   left: 15px;
  //   background-color: transparent;
  //   border: none;
  //   cursor: pointer;
  //   z-index: 1000;
  //   font-size: 24px;
  //   color: #000000;
  // }

  // // Only apply sidebar behavior for small screens
  // @media screen and (max-width: 768px) {
  //   .sideContainer {
  //     position: fixed;
  //     left: -250px;
  //     width: 245px;
  //     height: 100%;
  //     background: #fff;
  //     box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  //     transition: left 0.3s ease-in-out;
  //     z-index: 100;
  //   }

  //   .sideContainer.open {
  //     left: 0;
  //   }

  //   .homeContainer.shifted {
  //     margin-left: 245px; // Shift content only when sidebar is open on small screens
  //   }

  //   .toggle-btn {
  //     display: block; // Show toggle button only on small screens
  //   }
  // }

  // @media screen and (max-width: 480px) {
  //   .toggle-btn {
  //     top: 10px;
  //     left: 10px;
  //     font-size: 20px;
  //   }

  //   .latestAssetContainer,
  //   .auctionersContainer {
  //     margin-top: 10px;
  //     gap: 10px;
  //   }
  // }

